<% provide(:title, "Categories") %>
<% provide(:header, "Categories") %>

<div class="btn-toolbar">
  <%= link_to "New", new_admin_category_path, class: "btn btn-success" %>  
</div>

 <div style="clear:both;"></div>

<% if @categories.any? %>
  <table class="table">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
    <%= render @categories %>
  </table>
<% else %>
  <p class="alert alert-info">No categories have been added.</p>
<% end %>