<% provide(:header, "Eat Halal") %>
 
<div class="categories container">
  <div class="row">
    <div class="col-md-4">
      <a href="#" class="thumbnail">
        <%= image_tag "lamb.jpg" %>
      </a>
    </div>
    <div class="col-md-4">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/100%x180" alt="...">
      </a>
    </div>
    <div class="col-md-4">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/100%x180" alt="...">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/100%x180" alt="...">
      </a>
    </div>
    <div class="col-md-4">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/100%x180" alt="...">
      </a>
    </div>
    <div class="col-md-4">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/100%x180" alt="...">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/100%x180" alt="...">
      </a>
    </div>
    <div class="col-md-4">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/100%x180" alt="...">
      </a>
    </div>
    <div class="col-md-4">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/100%x180" alt="...">
      </a>
    </div>
  </div>
</div>