<nav>
  <ul class="nav nav-pills">
    <% if params["controller"].starts_with?('admin') %>
      <li class="active"><%= link_to "Categories", admin_categories_path %></li>
      <li><%= link_to "Posts", admin_posts_path %></li>
      <li><%= link_to "Users", admin_users_path %></li>
      <li><%= link_to "Products", admin_products_path %></li> 
    <% end %>
  </ul>
</nav>